# Misc
.DS_Store
.direnv/

# Python
__pycache__/
.ipynb_checkpoints/
.venv/

# Data
notebooks/audio.wav
resources/dataset
resources/small_dataset
notebooks/pred_pressure_field.gif
notebooks/pressure_field.gif
ckpt
models
.temp
resources/small_dataset.zip
